<form [formGroup]="myForm">
  <mat-form-field>
    <mat-label>ModelRun 1</mat-label>
    <mat-select formControlName="modelRunDate1">
      <mat-option
        *ngFor="let modelRunDate of modelRunDates"
        [value]="modelRunDate"
      >
        {{ modelRunDate }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>ModelRun 2</mat-label>
    <mat-select formControlName="modelRunDate2">
      <mat-option
        *ngFor="let modelRunDate of modelRunDates"
        [value]="modelRunDate"
      >
        {{ modelRunDate }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
